@charset "utf-8";
@use '../all' as *;

.solution-other__top {
  padding: 77px 0 56px;

  @include bkp(sp) {
    padding: 50px 0;
  }
}

.solution-other__inner {
  width: calc(100% - 50px);
  max-width: 1020px;
  margin: auto;
}

.solution-other__heading {
  text-align: center;
  font-size: 28px;
  font-weight: normal;
  line-height: calc(48/28);
  letter-spacing: 0.05em;
  font-family: $yu;

  @media screen and (max-width:1023px) {
    font-size: 25px;
  }

  @include bkp(sp) {
    line-height: calc(35/25);
    letter-spacing: 0;
  }
}

.solution-other__text {
  margin-top: 20px;
  text-align: center;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.05em;

  @include bkp(sp) {
    margin-top: 10px;
    font-size: 15px;
    text-align: left;
  }
}

.solution-other__item {
  display: flex;
  justify-content: space-between;
  gap: calc((100/1920)*100vw);

  @media screen and (max-width:1023px) {
    gap: 20px;
  }

  @include bkp(sp) {
    display: block;
  }

  @media screen and (min-width:1201px) {
    gap: 100px;
  }
}

.solution-other__item-heading {
  font-size: 26px;
  font-family: $yu;
  font-weight: normal;
  line-height: 1.75;

  @media screen and (max-width:1024px) {
    font-size: 22px;
  }

  @include bkp(sp) {
    line-height: calc(32/22);
  }
}

.solution-other__item-text-box {
  max-width: 485px;
  flex-shrink: 0;
}

.solution-other__item-text {
  margin-top: 6px;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.05em;
  text-align: left;
  max-width: 460px;

  @media screen and (max-width:1024px) {
    font-size: 15px;
  }

  @include bkp(sp) {
    margin-top: 10px;
  }
}

.solution-other__item-text .item-text_link {
  color: #009CBD;
  text-decoration: underline;
}

.solution-other__item-text .item-text_link:hover {
  color: #4c00bd;
}

.solution-other__item-img {
  @include bkp(sp) {
    margin-top: 20px;
  }
}

.solution-other__items {
  margin-top: 80px;

  @include bkp(sp) {
    margin-top: 42px;
  }
}

.solution-other__item+* {
  margin-top: 80px;

  @include bkp(sp) {
    margin-top: 50px;
  }
}

.solution-other__service {
  background: #F7F9FB;
  padding: 42px 0 58px;

  @include bkp(sp) {
    padding: 30px 0;
  }
}

.solution-other__en {
  color: #009cbd;
  font-size: 15px;
  line-height: calc(23/15);
  font-weight: bold;
  letter-spacing: 0.1em;
  margin-top: 6px;
  text-align: center;
  font-family: $en;
  display: block;
  text-transform: uppercase;
}

.solution-other__grid-items {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 20px;

  @include bkp(sp) {
    grid-template-columns: 1fr;
    gap: 10px;
    margin-top: 30px;
  }
}

.solution-other__grid-item {
  background: #F0F3F8;
  border-radius: 10px;
  padding: 28px 15px 38px;
  height: min(190px, 100vw);

  @include bkp(sp) {
    padding: 25px 15px 38px;
    height: auto;
  }
}

.solution-other__grid-item-heading {
  font-weight: bold;
  font-size: 18px;
  color: #009CBD;
  letter-spacing: 0.05em;
  line-height: calc(28/18);
}

.solution-other__grid-item-note {
  margin-top: 4px;
  font-size: 15px;
  line-height: calc(25/15);
  letter-spacing: 0;
  text-align: left;
}

.solultion-other__other {
  padding: 60px 0 115px;

  @include bkp(sp) {
    padding: 50px 0;
  }
}

.solution-other__link-box {
  margin-top: 30px;
  display: flex;
  gap: 40px;

  @media screen and (max-width:1023px) {
    gap: 20px;
  }

  @include bkp(sp) {
    flex-direction: column;
    gap: 10px;
  }
}

.solution-other__link-item {
  border-radius: 6px;
  background: #F7F9FB;
  box-shadow: 1px 2px 3px rgb(103 103 103 / 16%);
  width: 33.3333%;
  transition: all .3s;

  @include bkp(sp) {
    width: 100%;
    max-width: 500px;
    margin: auto;
  }
}

.solution-other__link-item:hover {
  box-shadow: 1px 5px 10px rgba(103, 103, 103, 0.3);
  translate: 0 -3px;
  transition: all .3s;
  background: #F0F3F8;
}

.solution-other__link-item a {
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  height: 100%;

  @media screen and (max-width:1023px) {
    padding: 15px 20px;
  }

  @include bkp(sp) {
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    padding: 15px;
  }
}



.solution-other__link-item-heading {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.05em;
  text-align: center;
  line-height: 1.4;

  @media screen and (max-width:1023px) {
    font-size: 18px;
  }

  @include bkp(sp) {
    font-size: min(18px, 4.8vw);
  }
}

.solution-other__link-item-heading span {
  font-size: 14px;
  font-family: $en;
  display: inline-block;
  letter-spacing: 0;
  font-weight: normal;

  @include bkp(sp) {
    font-size: min(14px, 3.733vw);
  }
}

.solution-other__link-item-heading {
  @include bkp(sp) {
    flex: 0 0 60%;
  }
}

.solution-other__link-item-img {
  margin: 10px auto 0;

  @include bkp(sp) {
    margin-top: 0;
    flex: 0 0 35%;
  }

  img {
    display: block;

    @media screen and (max-width:1023px) {
      max-width: 150px;
    }

    @include bkp(sp) {
      max-width: 100px;
    }
  }

  @include bkp(sp) {

    .link_ph03 {
      margin-left: -20px;
    }

    .link_ph04 {
      max-width: 75px;
    } 

  }
}

.solution-other__link-item-text {
  margin-top: 10px;
  font-size: 16px;
  letter-spacing: 0.05em;
  line-height: calc(25/16);
  text-align: left;

  @media screen and (max-width:1023px) {
    font-size: 14px;
  }

}

.solution {
  .contact__area {
    position: relative;
  }

  .contact__area:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #F7F9FB;
    z-index: -1;
  }
}